.events-page {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 4300px;
  position: relative;
}

.events-page .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1225px;
  background: linear-gradient(
    0deg,
    rgba(17, 63, 103, 1) 0%,
    rgba(88, 160, 200, 1) 100%
  );
}

.events-page .div {
  position: absolute;
  top: 787px;
  left: -33px;
  width: 1506px;
  height: 727px;
  background-color: #ffffff;
  border-radius: 500px;
}

.events-page .text-wrapper {
  position: absolute;
  top: 844px;
  left: calc(50.00% - 358px);
  width: 716px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(17, 63, 103, 1) 12%,
    rgba(88, 160, 200, 1) 93%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 151px;
  object-fit: cover;
}

.events-page .navbar {
  position: absolute;
  top: 55px;
  left: 720px;
  width: 700px;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 38px;
}

.events-page .text-wrapper-2 {
  width: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  height: 30px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .text-wrapper-3 {
  width: 198px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  height: 30px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .text-wrapper-4 {
  width: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  height: 30px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .text-wrapper-5 {
  width: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  height: 30px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .text-wrapper-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  height: 36px;
  width: 120px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .rectangle-2 {
  position: absolute;
  top: 126px;
  left: 749px;
  width: 620px;
  height: 620px;
  border-radius: 50px;
  object-fit: cover;
}

.events-page .text-wrapper-7 {
  top: 206px;
  left: 100px;
  width: 652px;
  height: 226px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 75px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .p {
  position: absolute;
  top: 434px;
  left: 100px;
  width: 635px;
  height: 129px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: #dde6f3;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .buttons {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 190px;
  height: 60px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 3px;
  position: absolute;
  top: 584px;
  left: 100px;
  background-color: #ffffff;
  border-radius: 20px;
}

.events-page .text-wrapper-8 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background: linear-gradient(
    89deg,
    rgba(17, 63, 103, 1) 0%,
    rgba(88, 160, 200, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .calendar-of-event {
  position: absolute;
  top: 1077px;
  left: 0;
  width: 1440px;
  height: 939px;
}

.events-page .text-wrapper-9 {
  position: absolute;
  top: 914px;
  left: calc(50.00% - 506px);
  width: 1013px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: #113f67;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .group {
  position: absolute;
  top: 2163px;
  left: calc(50.00% - 587px);
  width: 1178px;
  height: 196px;
}

.events-page .padi {
  position: absolute;
  top: 0;
  left: 945px;
  width: 229px;
  height: 191px;
  object-fit: cover;
}

.events-page .padi-2 {
  position: absolute;
  top: 5px;
  left: 0;
  width: 229px;
  height: 191px;
  object-fit: cover;
}

.events-page .text-wrapper-10 {
  position: absolute;
  top: 31px;
  left: calc(50.00% - 439px);
  width: 875px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(17, 63, 103, 1) 12%,
    rgba(88, 160, 200, 1) 93%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .text-wrapper-11 {
  position: absolute;
  top: 115px;
  left: calc(50.00% - 509px);
  width: 1013px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: #113f67;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .text-wrapper-12 {
  position: absolute;
  top: 2936px;
  left: calc(50.00% - 437px);
  width: 875px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(17, 63, 103, 1) 12%,
    rgba(88, 160, 200, 1) 93%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .gemilang-budaya {
  position: absolute;
  top: 2358px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1200px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #113f67;
  font-size: 28px;
  line-height: 1.6;
  text-align: justify;
  letter-spacing: 0;
}
.events-page .gemilang-budaya .span {
  font-weight: 800;
  color: #113f67;
}

.events-page .gemilang-budaya .text-wrapper-14 {
  font-weight: 700;
  font-style: italic;
  color: #113f67;
}


.events-page .span {
  font-weight: 800;
}

.events-page .text-wrapper-13 {
  font-weight: 500;
}

.events-page .text-wrapper-14 {
  font-weight: 700;
  font-style: italic;
}

.events-page .date-TBA-venue-TBA {
  position: absolute;
  top: 2758px;
  left: calc(50.00% - 634px);
  width: 1268px;
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 400;
  color: #113f67;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .text-wrapper-15 {
  font-weight: 700;
}

.events-page .gbm-features {
  display: flex;
  width: 1380px;
  align-items: flex-start;
  gap: 60px;
  padding: 0px 60px;
  position: absolute;
  top: 3026px;
  left: calc(50.00% - 720px);
  overflow-x: scroll;
}

.events-page .gbm-features::-webkit-scrollbar {
  width: 0;
  display: none;
}

.events-page .group-2 {
  position: relative;
  width: 752px;
  height: 500px;
}

.events-page .rectangle-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 750px;
  height: 500px;
  background-color: #113f67;
  border-radius: 50px;
}

.events-page .rectangle-4 {
  position: absolute;
  top: 30px;
  left: 35px;
  width: 680px;
  height: 370px;
  border-radius: 25px;
  border: 5px solid;
  border-color: #ffffff;
  object-fit: cover;
}

.events-page .text-wrapper-16 {
  position: absolute;
  top: 421px;
  left: calc(50.00% - 342px);
  width: 683px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", Helvetica;
  font-weight: 700;
  color: #f9f1da;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .group-3 {
  position: absolute;
  top: 3684px;
  left: -33px;
  width: 1506px;
  height: 727px;
}

.events-page .footer-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 1506px;
  height: 727px;
  display: flex;
  background-color: #092033;
  border-radius: 500px;
}

.events-page .rectangle-5 {
  margin-top: 490px;
  width: 1440px;
  height: 126px;
  margin-left: 33px;
  background-color: #091f32;
}

.events-page .footer {
  position: absolute;
  top: 110px;
  left: 235px;
  width: 1036px;
  height: 404px;
  background-color: transparent;
}

.events-page .logo-footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 440px;
  height: 124px;
  object-fit: cover;
}

.events-page .x {
  position: absolute;
  top: 208px;
  left: 182px;
  width: 75px;
  height: 75px;
}

.events-page .you-tube {
  position: absolute;
  top: 208px;
  left: 56px;
  width: 75px;
  height: 75px;
}

.events-page .instagram {
  position: absolute;
  top: 208px;
  left: 308px;
  width: 75px;
  height: 75px;
}

.events-page .text-wrapper-17 {
  position: absolute;
  width: calc(100% - 761px);
  top: 6px;
  left: 553px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .text-wrapper-18 {
  position: absolute;
  width: calc(100% - 559px);
  top: 62px;
  left: 553px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 22px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .language {
  position: absolute;
  top: 329px;
  left: 611px;
  width: 75px;
  height: 75px;
}

.events-page .copyright {
  position: absolute;
  top: 354px;
  left: 57px;
  width: 20px;
  height: 20px;
}

.events-page .text-wrapper-19 {
  position: absolute;
  top: 354px;
  left: 84px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.events-page .translator {
  position: absolute;
  top: 329px;
  left: 706px;
  width: 321px;
  height: 75px;
  display: flex;
  gap: 19px;
}

.events-page .group-4 {
  width: 152px;
  height: 75px;
  position: relative;
}

.events-page .rectangle-6 {
  position: absolute;
  width: 98.68%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 20px;
}

.events-page .text-wrapper-20 {
  position: absolute;
  width: 91.45%;
  height: 90.67%;
  top: 4.00%;
  left: 3.29%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(17, 63, 103, 1) 12%,
    rgba(88, 160, 200, 1) 93%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.events-page .rectangle-7 {
  position: absolute;
  width: 98.68%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff80;
  border-radius: 20px;
}

.events-page .text-wrapper-21 {
  position: absolute;
  width: 91.45%;
  height: 90.67%;
  top: 4.00%;
  left: 3.29%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(17, 63, 103, 0.5) 12%,
    rgba(88, 160, 200, 0.5) 93%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
